<div class="container">
	<h1>Crear tipo de entrada</h1>
	<form action="/tipo/c" method="post">
		<label for="id-Nombre">Tipo de entrada(nombre)</label>
		<input type="text" id="id-Nombre" name="nombre" required="required" autofocus="autofocus"/>
		<br/>
		
		<label for="id-Precio">Precio asociado</label>
		<input type="number" step="0.1" id="id-Precio" name="precio" required="required" />
		<br/>

		<input type="submit" value="Añadir tipo"/>
		<br/>
			
	</form>

	<form action="/tipo/r">
		<input type="submit" value="Cancelar"/>
	</form>
</div>
