
<nav class="m-0 navbar sticky-top container  bg-dark navbar-dark">
	
	<div class="col justify-content-around">
		<div class="row">
			<div class="col-auto mr-auto ">	
				<a class="navbar-brand btn p-0 ml-2 btn-sm" href="/" role="button">
					<img src="/img/home-alt.png" alt="INICIO" style="width:45px;">
				</a>
			</div>
			<div class="col"></div>
			<div th:if="${session.usuario==null}" class="col-auto m-2">
				<a class="btn btn-info btn-sm" href="/login" role="button"> Iniciar sesión </a>
			</div>
			<div th:if="${session.usuario==null}" class="col-auto m-2">
				<a class="btn btn-primary btn-sm" href="/register" role="button"> Registrarse </a>
			</div>
			<div th:if="${session.usuario!=null}" class="col-auto m-2">
				<a class="btn btn-primary btn-sm" href="/perfil" th:text="${session.usuario.nombre}" role="button"></a>
				<!--<span  th:text="|Hola    ${session.usuario.nombre}|"/>-->
			</div>
			<div th:if="${session.usuario!=null}" class="col-auto m-2">
				<a class="btn btn-danger btn-sm" href="/logout" role="button"> Cerrar sesión </a>
			</div>
		</div>
	</div>
	
</nav>