
<nav class="m-0 navbar sticky-top container  bg-dark navbar-dark">
	
	<div class="col justify-content-around">
		<div class="row">
			<div class="col-auto mr-auto ">	
				<a class="navbar-brand btn p-0 m-auto btn-sm" href="/" role="button">
					&nbsp<img src="/img/landmark-solid.svg" alt="INICIO" class="m-auto" style="width:40px;"> Museo VAPE
				</a>
			</div>
			
			<div class="col"></div>
			
			<div th:if="${session.usuario==null}" class="col-auto m-2">
				<a class="btn btn-info btn-sm" href="/login" role="button"> Iniciar sesión </a>
			</div>
			
			<div th:if="${session.usuario==null}" class="col-auto m-2">
				<a class="btn btn-primary btn-sm" href="/register" role="button"> Registrarse </a>
			</div>
			
			<div  class="col-auto m-2">
				<a class="btn btn-primary btn-sm" href="/confirmar/enviar"
				 th:text="|Boton prueba correo |" role="button">
				</a>
			</div>
			
			<div th:if="${session.usuario != null and session.usuario.rol.nombre eq 'admin'}" class="col-auto m-2">
				<a class="btn btn-primary btn-sm" href="/entrada/r"
				 th:text="|Gestionar entradas |" role="button">
				</a>
			</div>
			
			<div th:if="${session.usuario != null and session.usuario.rol.nombre eq 'admin'}" class="col-auto m-2">
				<a class="btn btn-primary btn-sm" href="/rol/r"
				 th:text="|Administrar roles |" role="button">
				</a>
			</div>
			
			<div th:if="${session.usuario != null and session.usuario.rol.nombre eq 'admin'}" class="col-auto m-2">
				<a class="btn btn-primary btn-sm" href="/tipo/r"
				 th:text="|Gestionar tipos |" role="button">
				</a>
			</div>
			
			<div th:if="${session.usuario!=null}" class="col-auto m-2">
				<a class="btn btn-primary btn-sm" href="/misentradas" th:text="|Mis entradas|" role="button"></a>
			</div>
			
			<div th:if="${session.usuario!=null}" class="col-auto m-2">
				<a class="btn btn-primary btn-sm" href="/perfil" th:text="${session.usuario.nombre}" role="button"></a>
				<!--<span  th:text="|Hola    ${session.usuario.nombre}|"/>-->
			</div>
			<div th:if="${session.usuario!=null}" class="col-auto m-2">
				<a class="btn btn-danger btn-sm" href="/logout" role="button"> Cerrar sesión </a>
			</div>
		</div>
	</div>
	
</nav>