<!--Footer-->
<footer class="footer navbar-fixed-bottom mt-auto pt-1">
	<div class="card-footer text-muted bg-transparent">
		<ul class="nav justify-content-center border-bottom">
			<li class="nav-item">
				<a href="/contacto" class="nav-link px-2 text-black">Contacto</a>
			</li>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<li class="nav-item">
				<a href="/aviso_legal" class="nav-link px-2 text-black">Aviso Legal</a>
			</li>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<li class="nav-item">
				<a href="/trabaja_con_nosotros" class="nav-link px-2 text-black">Trabaja con nosotros</a>
			</li>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<li class="nav-item">
				<a href="/quiero_exponer" class="nav-link px-2 text-black">Quiero exponer</a>
			</li>
		</ul>
	</div>
</footer>
</body>

</html>
