<!--Footer-->
<footer class="footer navbar-fixed-bottom">
	<div class="card-footer text-muted bg-white">
		<ul class="nav justify-content-center border-bottom">
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-black">Contacto</a>
			</li>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-black">Aviso Legal</a>
			</li>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-black">Trabaja con nosotros</a>
			</li>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-black">Quiero exponer</a>
			</li>
		</ul>
	</div>
</footer>
</body>

</html>