<div class="container">
	<h1>Crear nueva entrada</h1>
	<form action="/entrada/c" method="post">
		
		<label id="id-numeroMax">Numero maximo</label>
		<input type="text" id="id-numeroMax" name="numeroMax" required="required" autofocus="autofocus" />
		<br />
		
		<!--Poner un calendario? Mirar para automatizar para dos meses mínimo, con seeder?-->
		
		<label for="id-fecha">Fecha de la entrada</label>
		<input type="date" id="id-fecha" name="fecha" required="required" />
		
		<br />
		
		<input type="submit"/ value="Añadir entrada">
		
	</form>
	
		
	<form action="/entrada/r">
		<input type="submit" value="Cancelar" />
	</form>
</div>