<div class="container">
	<h1>Crear nueva entrada</h1>
	<form action="/entrada/c" method="post">
		
		<label id="id-numeroMax">Numero maximo</label>
		<input type="text" id="id-numeroMax" name="numeroMax" required="required" autofocus="autofocus" />
		<br />
		
		<label id="id-horario">Horario</label>
		
		<span th:if="${horarios == null}" th:text="|Crea un horario primero(Poner boton a create horaro)|" >
			
		</span>
		<select id="id-horario" name="idHorario">
			<th:block th:each=" horario : ${horarios} ">
				<option th:value="${horario.id}" th:text="${horario.hora}" />
			</th:block>
		</select>
		<br />
		
		<input type="submit"/ value="Añadir entrada">
		
	</form>
	
		
	<form action="/entrada/r">
		<input type="submit" value="Cancelar" />
	</form>
</div>