<div class="container">
	<h1>Lista de entradas</h1>

	<form action="/entrada/c">
		<input type="submit" value="Nueva entrada" />
	</form>


	<form action="/">
		<input type="submit" value="Menú principal" />
	</form>

	<table class="table table-striped table-hover">
		<tr>
			<th>Acción</th>
			<th>Nº Máximo</th>
			<th>Nº Vendidas</th>
			<th>Horario</th>
		</tr>

		<tr th:each=" entrada : ${ entradas }">
			<td>
				<div class="row">
					<div class="col">
						<form action="/entrada/u">
							<input type="hidden" th:value="${ entrada.id }" name="id" />
							<button onclick="submit()">
								<img src="/img/lapiz.png" width="20" height="20" />
							</button>
						</form>
					</div>

					<div class="col">
						<form action="/entrada/d" method="post">
							<input type="hidden" th:value="${ entrada.id }" name="id" />
							<button onclick="submit()">
								<img src="/img/basura.png" width="20" height="20" />
							</button>
						</form>
					</div>
				</div>
			</td>

			<td th:text="${ entrada.numeroMaximo }" />
			<td th:text="${ entrada.numeroVendido }" />
			<td th:text="${ entrada.horario.hora }" />
		
		</tr>
	</table>
</div>