<div class="container">
	<h1>Actualizar entrada</h1>
	<form action="/entrada/u" method="post">
		<input type="hidden" name="idEntrada" th:value="${entrada.id}"/>
		
		<label id="id-numeroMax">Número máximo de entradas a la venta</label>
		<input type="text" id="id-numeroMax" th:value="${entrada.numeroMaximo}" name="numeroMax" required="required" autofocus="autofocus" />
		<br />
		
		<label id="id-numeroVen">Número entradas vendidas</label>
		<input type="text" id="id-numeroVen" th:value="${entrada.numeroVendido}" name="numeroVen" required="required" />
		<br />
		
		<label id="id-fecha">fecha</label>
		<input type="date" id="id-fecha" name="fecha" th:value="${entrada.fecha}"/>
		
		<br />
		
		<input type="submit"/ value="Actualizar entrada">
		
	</form>
	
		
	<form action="/entrada/r">
		<input type="submit" value="Cancelar" />
	</form>
</div>