<div class="container">
	<h1>Crear Usuario</h1>
	<form action="/usuario/c" method="post">
			
		<label for="idNombre">Nombre</label>
		<input id="idNombre" type="text" name="nombre" required="required" autofocus="autofocus"/>
		<br/>	
			

		<label for="idApellido1">Primer apellido</label>
		<input id="idApellido1" type="text" name="apellido1" required="required"/>
		<br/>
		
		<label for="idApellido2">Segundo apellido</label>
		<input id="idApellido2" type="text" name="apellido2" required="required"/>
		<br/>
			
		<label for="idEmail">Email</label>
		<input id="idEmail" type="text" name="email" required="required"/>
		<br/>
		

		<label for="idTarjeta">Num Tarjeta</label>
		<input id="idTarjeta" type="text" name="tarjeta" />

		<br/>
		
		<label for="idPassword">Contraseña</label>
		<input id="idPassword" type="password" name="password" required="required"/>
		<br/>
		


		<!--
		Que solo lo vea el super admin

		<select name="idRol">
			<th:block th:each=" rol : ${roles}">
				<option th:value="${rol.id}" th:text="${rol.nombre}"></option>
			</th:block>
		</select>
		<br>

		-->

		
		<input type="submit" value="Dar de alta"/>
		<br/>
	</form>
	
	<form action="/usuario/r">
		<input type="submit" value="Cancelar"/>
	</form>
</div>