<div class="container">
	<div class="card">	
		<div class="card-title text-center bg-warning">
			Mis entradas
		</div>
		<div class="card-body m-auto">
			<div class="card" th:if="${entradas.size() == 0}">
				<span>Aún no has comprado ninguna entrada</span>
			</div>
			<div th:each=" entradaComprada : ${entradas}" class="card border-6 w-100 p-4">
				<div class="row">
					<div class="col-3">
						<span th:text="${entradaComprada.entrada.fecha}"/>
					</div>
					<div class="col-3">
						<span th:text="${entradaComprada.tipo.nombre}"/>
					</div>
					<div class="col-3">
						<span th:text="${entradaComprada.cantidad}"/>
					</div>
					<div class="col-3">
						<span th:text="|(${entradaComprada.tipo.precio})* ${entradaComprada.cantidad}|"/>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<img th:src="@{${entradaComprada.rutaImagenQR}}" alt="qr" width="200"/>
					</div>
				</div>
			</div>
			<br>
		</div>
	</div>
</div>