<div class="container">
	<div class="card w-75 m-auto mt-2">
		<div class="card-body text-center">
			<h1 class="card-title">Actualizar usuario</h1>
			<form action="/usuario/u" method="post" id="formPerfil" novalidate>
				<input type="hidden" name="idUsuario" th:value="${usuario.id}" />
				
				<div class="row g-2 justify-content-center align-items-center">
					<div class="col-4">
						<label for="idNombre" class="col-form-label">Nombre</label>
					</div>
					<div class="col-1"></div>
					<div class="col-4">
						<input id="idNombre" class="form-control" type="text" name="nombre" th:value="${usuario.name}" required="required" autofocus="autofocus"/>
					</div>
				</div>
				
				<br/>
				
				<div class="row g-2 justify-content-center align-items-center">
					<div class="col-4">
						<label for="idApellido1" class="col-form-label">Primer apellido</label>
					</div>
					<div class="col-1"></div>
					<div class="col-4">
						<input id="idApellido1" class="form-control" type="text" th:value="${usuario.primerApellido}" name="apellido1" required="required"/>
					</div>
				</div>
				<br/>
			
				<div class="row g-2 justify-content-center align-items-center">
					<div class="col-4">
						<label for="idApellido2" class="col-form-label">Segundo apellido</label>
					</div>
					<div class="col-1"></div>
					<div class="col-4">
						<input id="idApellido2" class="form-control" type="text" th:value="${usuario?.segundoApellido}" name="apellido2"/>
					</div>
				</div>
				<br/>
			
				<div class="row g-2 justify-content-center align-items-center">
					<div class="col-4">
						<label for="idEmail" class="col-form-label">Email</label>
					</div>
					<div class="col-1"></div>
					<div class="col-4">
						<input id="idEmail" class="form-control" type="text" th:value="${usuario.mail}" name="email" required="required"/>
					</div>
				</div>
				<br/>
			
				<div class="text-center">
					<input type="submit" class="btn btn-primary" value="Cambiar datos" />
				</div>
			</form>
		</div>
		<div class="card-footer">
			<form action="/perfil">
				<input type="submit" value="Cancelar" class="btn btn-secondary" />
			</form>
		</div>
	</div>
</div>
	<!--Validaciones-->
	<script type="text/javascript" src="/js/validaciones/perfilU.js"></script>
