<div class="container">
	<h1>Actualizar usuario</h1>

	<form action="/usuario/u" method="post">

		<input type="hidden" name="idUsuario" th:value="${usuario.id}" />
		
		<label for="idNombre">Nombre</label>
		<input id="idNombre" type="text" name="nombre" th:value="${usuario.nombre}" required="required" autofocus="autofocus"/>
		<br/>	
			
		<label for="idApellido1">Primer apellido</label>
		<input id="idApellido1" type="text" th:value="${usuario.apellido1}" name="apellido1" required="required"/>
		<br/>
		
		<label for="idApellido2">Segundo apellido</label>
		<input id="idApellido2" type="text" th:value="${usuario?.apellido2}" name="apellido2" required="required"/>
		<br/>
			
		<label for="idEmail">Email</label>
		<input id="idEmail" type="text" th:value="${usuario.email}" name="email" required="required"/>
		<br/>
		
		<label for="idTarjeta">Mostrar solo últimos digitos(Que no se ve en el cogido tampoco)</label>
		<input id="idTarjeta" th:value="${usuario.tarjeta} != null ? ${usuario.tarjeta} : '0000'" type="text" name="tarjeta" required="required"/>
		<br/>
		
		<!--Opción para cambiar de contraseña-->

		<input type="submit" />
		<br />
	</form>

	<form action="/usuario/r">
		<input type="submit" value="Cancelar" />
	</form>
</div>