<h4 class="card-subtitle p-2 text-white  text-center">
	Entradas
</h4>


<!--Entradas-->
<div class="container mt-2">
	<div class="card">
		<div class="card-header">
			<div class="card-title text-center">
				Entradas
			</div>
		</div>
		<div class="card-body text-center align-items-center">
			<form action="/comprar/resumen" ><!--Crear vista confirmacion-->
				<label>Numero de entradas</label>
				<input type="number" name="cantidad" />
				<br/>
				
				<label>Tipo de entrada</label>
				<select name="idTipo">
					<th:block th:each=" tipo : ${tipos}">
						<option th:value="${tipo.id}" th:text="|${tipo.nombre} (${tipo.precio} €)|"/>
					</th:block>
				</select>
				<br/>
				
				<!--Cada entrada debe de tener N fechas, y comprobar sobre la selecionada-->
				<!--Mostrar solo las fechas que no tengan todas vendidas-->
				<label>Fecha</label>
				<div id="datepicker" class="text-center"></div>
				<input type="hidden" name="fecha" id="fechaC"/>
				<br/>
							
				
				<input type="submit" value="Comprar"/>
				
				
			</form>
		</div>
		
	</div>
</div>

<script src="/js/fecha.js"></script>





