<div class="container">
	<div class="card w-75 m-auto mt-2">
		<div class="row">
			<div class="col-3 mr-1">
				<img src="/img/davidMiguelAngel.jpg" style="width: 100%;" class="img-fluid"  alt="David de Miguel Angel"/>
			</div>
			<div class="col-9">
				<div class="card-header text-center">
    				Registro de usuario
  				</div>
  			
  				<div class="card-body">
    				<h5 class="card-title text-center">Rellena los campos</h5>

					<form action="/user/registration" th:object="${user}" method="POST" enctype="utf8" id="formRegistro">
				
    					<div class="row g-2 justify-content-start"><!--align-items-center-->
							<div class="col-1"></div>
  					
  							<div class="col-5 justify-content-start">
 								<label for="idNombre" class="col-form-label">Nombre <abbr aria-label="required" style="color: red;">*</abbr></label>
  							</div>
  							<div class="col-5">
								<input name="nombre" id="idNombre" th:value="${session?.usuario?.name != null ? session.usuario.name : ''}"
									 required="required" class="form-control" autofocus="autofocus"/><!--style="width: 75%;"--> 
							</div>
					
							<div class="col-1"></div>
					
						</div>
						<br>
	
						<div class="row g-2 justify-content-start ">
							<div class="col-1"></div>
					
							<div class="col-5 justify-content-start">
								<label for="idApellidos" class="col-form-label">Primer apellido <abbr aria-label="required" style="color: red;">*</abbr></label>
  							</div>
  							<div class="col-5">
								<input name="apellido1" th:value="${session?.usuario?.primerApellido != null ? session.usuario.primerApellido : ''}"
									 required="required" id="idApellido1" class="form-control"/><!--style="width: 75%;"-->
							</div>
  					
  							<div class="col-1"></div>
  					
						</div>
						<br>
	
    
    					<div class="row g-2 justify-content-start">
							<div class="col-1"></div>
  					
  							<div class="col-5 justify-content-start">
								<label for="idApellido2" class="col-form-label">Segundo apellido</label>
  							</div>
  							<div class="col-5">
								<input name="apellido2" class="form-control" id="idApellido2"
									th:value="${session?.usuario?.segundoApellido != null ? session.usuario.segundoApellido : ''}"/>
  							</div>
  					
  							<div class="col-1"></div>
  					
						</div>
						<br>
				
						<div class="row g-2 justify-content-start">
							<div class="col-1"></div>
							<div class="col-5">
								<label for="idEmail" class="col-form-label">Email <abbr aria-label="required" style="color: red;">*</abbr></label>
							</div>
							<div class="col-5">
								<input type="email" id="idEmail" name="email" th:value="${session?.usuario?.mail != null ? session.usuario.mail : ''}"
								 	required="required" class="form-control" /><!--style="width: 75%;"-->	
							</div>
							<div class="col-1"></div>
						</div>
						<br>
				
						<div class="row g-2 justify-content-start">
							<div class="col-1"></div>
							<div class="col-5">
    							<label for="id-pass" class="col-form-label">Contraseña <abbr aria-label="required" style="color: red;">*</abbr></label>
  							</div>
  							<div class="col-5">
    							<input type="password" id="id-pass" th:field="*{password}" required="required" class="form-control"/>
  							</div>
							<div class="col-1"></div>
						</div>
						<br>
				
						<div class="row g-2 justify-content-start">
							<div class="col-1"></div>
							<div class="col-5">
    							<label for="id-passConf" class="col-form-label">Confirmar contraseña <abbr aria-label="required" style="color: red;">*</abbr></label>
  							</div>
  							<div class="col-5">
    							<input type="password" id="id-passConf" th:field="*{matchingPassword}" required="required" class="form-control"/>
  							</div>
							<div class="col-1"></div>
						</div>
						<br>
				
						<div class="text-center">
							<button type="submit" class="btn botonRegistro btn-transparent btn-sm">Registrarse</button>
						</div>

					</form>
				</div>
				<div class="card-footer text-muted text-center">
					<form action="/">
						<button class="btn btn-transparent botonVolver btn-sm">Volver</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
	<!--Validaciones-->
	<script type="text/javascript" src="/js/validaciones/registro.js"></script>