<div class="container">
	<div class="card w-75 m-auto mt-2">
  		<div class="card-header text-center">
    		Registro de usuario
  		</div>
  			
  		<div class="card-body">
    		<h5 class="card-title text-center">Rellena los campos</h5>

			<form action="/user/registration" th:object="${user}" method="POST" enctype="utf8">
				
    			<div class="row g-2 justify-content-center align-items-center">
  					<div class="col-4">
 						<label for="idNombre" class="col-form-label">Nombre</label>
  					</div>
  					<div class="col-1"></div>
  					<div class="col-4">
						<input name="nombre" id="idNombre" th:value="${session?.usuario?.name != null ? session.usuario.name : ''}" required="required" class="form-control" autofocus="autofocus"/>
  						<!--<input type="text" id="idNombre" class="form-control" name="nombre" required="required" autofocus="autofocus"/>-->
  						<p th:each="error: ${#fields.errors('nombre')}" 
          					th:text="${error}">Validation error</p>
  					</div>
				</div>
				<br>
	
    			<div class="row g-2 justify-content-center align-items-center">
					<div class="col-4">
						<label for="idApellidos" class="col-form-label">Primer apellido</label>
  					</div>
  					<div class="col-1"></div>
  					<div class="col-4">
						<input name="apellido1" th:value="${session?.usuario?.primerApellido != null ? session.usuario.primerApellido : ''}" required="required" class="form-control"/>
  						<!--<input type="text" id="idApellidos" class="form-control" name="apellido1" required="required"/>-->
  						<p th:each="error : ${#fields.errors('apellido1')}" 
          					th:text="${error}">Validation error</p>
  					</div>
				</div>
				<br>
	
				<div class="row g-2 justify-content-center align-items-center">
					<div class="col-4">
						<label for="idApellido2" class="col-form-label">Segundo apellido</label>
  					</div>
  					<div class="col-1"></div>
  					<div class="col-4">
						<input name="apellido2" class="form-control" th:value="${session?.usuario?.segundoApellido != null ? session.usuario.segundoApellido : ''}"/>
  						<!--<input type="text" id="idApellidos" class="form-control" name="apellido1" required="required"/>-->
  						<p th:each="error : ${#fields.errors('apellido2')}" 
          					th:text="${error}">Validation error</p>
  					</div>
				</div>
				<br>
	
				<div class="row g-2 justify-content-center align-items-center">
  					<div class="col-4">
    					<label for="idTarjeta" class="col-form-label">Numero de Tarjeta</label>
  					</div>
  					<div class="col-1"></div>
  					<div class="col-4">
  						<!--<input type="text" id="idTarjeta" class="form-control" name="tarjeta" required="required"/>-->
  						<input name="tarjeta" th:value="${session?.usuario?.tarjeta != null ? session.usuario.tarjeta : ''}" required="required" class="form-control" />
  						<p th:each="error : ${#fields.errors('tarjeta')}" 
          					th:text="${error}">Validation error</p>
  					</div>
				</div>
				<br>
	
    
    			<div class="row g-2 justify-content-center align-items-center">
					<div class="col-4">
						<label for="idEmail" class="col-form-label">Email</label>
					</div>
					<div class="col-1"></div>
					<div class="col-4">
						<!--<input id="idEmail" type="text" name="email" class="form-control" required="required"/>-->
						<input type="email" name="email" th:value="${session?.usuario?.mail != null ? session.usuario.mail : ''}" required="required" class="form-control" />
        				<p th:each="error : ${#fields.errors('email')}" 
          					th:text="${error}">Validation error</p>
					</div>
				</div>
				<br>
    
    			<div class="row g-2 justify-content-center align-items-center">
  					<div class="col-4">
    					<label for="id-pass" class="col-form-label">Contraseña</label>
  					</div>
  					<div class="col-1"></div>
  					<div class="col-4">
    					<!--<input type="password" name="password" id="id-pass" class="form-control" aria-describedby="passwordHelpInline">-->
    					<input type="password" th:field="*{password}" required="required" class="form-control"/>
        				<p th:each="error : ${#fields.errors('password')}" 
          					th:text="${error}">Validation error</p>
  					</div>
				</div>
				<br>
    
    
    			<div class="row g-2 justify-content-center align-items-center">
  					<div class="col-4">
    					<label for="id-passConf" class="col-form-label">Confirmar contraseña</label>
  					</div>
  					<div class="col-1"></div>
  					<div class="col-4">
    					<!--<input type="password" name="passwordConf" id="id-passConf" class="form-control" aria-describedby="passwordHelpInline">-->
    					<input type="password" th:field="*{matchingPassword}" required="required" class="form-control"/>
  					</div>
				</div>
				<br>
    			<div class="text-center">
					<button type="submit" class="btn btn-primary btn-sm">Registrar</button>
				</div>
    				
			</form>
		</div>
		<div class="card-footer text-muted text-center">
    		<form action="/">
				<button class="btn btn-secondary btn-sm">Volver</button>
			</form>
		</div>
	</div>
</div>

