<div class="container">
	<form action="/perfil/cambiarPassword" method="post">
		<input type="hidden" name="id" th:value="${id}"/>
		
		<label for="idPass">Nueva contraseña</label>
		<input type="password" name="nuevaPass" id="idPass"/>
		<br>
		
		<label for="idPassN">Confirmar nueva contraseña</label>
		<input type="password" name="nuevaPassConfirmar" id="idPassN"/>
		<br>
		
		<input type="submit" class="btn btn-primary" value="Cambiar"/>
		<br>
	</form>
	
	<form action="/perfil/r" >
		<input type="submit" class="btn btn-secondary" value="Cancelar"/>
		<br>
	</form>
</div>