<div class="container">
	<div class="card text-center">
  		<div class="card-header" >
			  <span>Datos personales</span>
 	 	</div>
  		<div class="card-body">
			<form action="/usuario/u">
				<input type="hidden" name="id" th:value="${usuario.id}"/>
				<h5 class="card-title" th:text="${usuario.nombre}|"></h5>
				<p class="card-text">
					<label th:text="|Nombre: ${usuario.nombre}|"></label><br>
					<label th:text="|Primer apellido: ${usuario.apellido1}|"></label><br>
					<label th:text="|Segundo apellido: ${usuario.apellido2}|"></label><br>
					<label th:text="|Email: ${usuario.email}|"></label><br>
					<label th:text="|Tarjeta: ${tarjeta}|"></label><br>
				</p>
			  	<input type="submit" value="Cambiar datos" class="btn btn-sm btn-primary"/>
			</form>
  		</div>
  		<div class="card-footer text-muted">
    		<form action="/">
				<button class="btn btn-secondary btn-sm">Volver</button>
			</form>
  		</div>
	</div>
</div>