<div class="container">
	<div class="card text-center">
  		<div class="card-header" >
			  <span>Datos personales</span>
 	 	</div>
  		<div class="card-body">
			<form action="/usuario/u">
				<input type="hidden" name="id" th:value="${usuario.id}"/>
				<h5 class="card-title" th:text="${usuario.name}|"></h5>
				<p class="card-text">
					<label th:text="|Nombre: ${usuario.name}|"></label><br>
					<label th:text="|Primer apellido: ${usuario.primerApellido}|"></label><br>
					<label th:text="|Segundo apellido: ${usuario.segundoApellido}|"></label><br>
					<label th:text="|Email: ${usuario.mail}|"></label><br>
				</p>
			  	<input type="submit" value="Cambiar datos" class="btn btn-sm btn-primary"/>
			</form>
			<form action="/perfil/cambiarPassword">
				<input type="hidden" name="idU" th:value="${usuario.id}"/>
				<input type="submit" class="btn btn-danger" value="Cambiar pass"/>
			</form>
  		</div>
  		<div class="card-footer text-muted">
    		<form action="/">
				<button class="btn btn-secondary btn-sm">Volver</button>
			</form>
  		</div>
	</div>
</div>