<h2 class="m-4 text-center tituloPrincipal">
	Bienvenido al Museo VAPE (Museo Vanguardista de Arte, Pintura y Escultura)
</h2>

<div class="container contenedorHome">


<!--Imagenes-->
<div class="container mt-2">
	<div class="row m-2">
		<div class="col-1"></div>
		<div class="col-4" >
  			<img src="/img/cuadroVanguardista.jpg" style="width: 300px;" alt="Quarry in Braník">
		</div>
  		<div class="col-6">
			<h3 class="tituloHome">Nuestra pasión es el vanguarismo</h3>
   			<p class="card-text textoHome">En nuestra sección de arte Vanguardista podrás encontrar una gran
			   diversidad de artistas, así cómo visitar obras de las diferentes épocas
			   y ver la evolución del vanguardismo.
			</p>
		</div>
		<div class="col-1"></div>
	</div>
	<br>
	
	<div class="row m-2">
		<div class="col-1"></div>
		
  		<div class="col-6">
			<h3 class="tituloHome">Arte clásico y moderno</h3>
   			<p class="card-text textoHome">
				En nuestra sección de arte clásica encontrarás grandes cuadros ya conocidos,
				así cómo las nuevas versiones de jovenes artistas.	
			</p>
		</div>
		<div class="col-4" >
			<img class="card-img-top" src="/img/pintura1.jpg" style="width: 275px;" alt="La joven de la Perla">
		</div>
		<div class="col-1"></div>
	</div>
	<br>
	
	<div class="row m-2">
		<div class="col-1"></div>
		<div class="col-4" >
  			<img src="/img/artistaPintando.jpg" style="width: 300px;" alt="Artista dibujando">
		</div>
  		<div class="col-6">
			<h3 class="tituloHome">Arte en directo</h3>
   			<p class="card-text textoHome">
				¡También podrás visitar la zona donde se crea la magia!
				Podrás ver a algunos de nuestros artistas creando en vivo, además de
				contemplar sus colecciones.
			</p>
		</div>
		<div class="col-1"></div>
	</div>
	
</div>
</div>

<!--Tarifas y horarios-->

<div class="card mt-5 mb-2 text-center bg-transparent cardTarifas">
  	<div class="card-header">
    	<h5 class="card-title ">Visítanos</h5>
    	<h6 class="card-subtitle ">Nuestros horarios y entradas</h6>
  	</div>
  	<div class="card-body">
  		<div class="row">
  			<div class="col">
  				<h5 class="card-title">Horario de apertura</h5>
    			<p class="card-text">
    				<span>Lunes a Viernes: 10:00 h a 20:00 h</span><br>
    				<span>Sábados: 9:00 h a 15:00 h</span><br>
    				<span>Domingos cerrado</span>
    			</p>
  			</div>
  			<div class="col">
  				<h5 class="card-title">Tarifas</h5>
    			<p class="card-text">
					<th:block th:each=" tipo: ${tipos}">
						<span th:text="|${tipo.nombre}: ${tipo.precio} €|"/><br/>
					</th:block>
    			</p>
  			</div>
  		</div>
  		<a href="/comprar/r" class="btn m-2 btn-transparent botonEntradas">
			<img src="/img/ticket-solid.svg" alt="Ticket" style="width:40px;">&nbsp&nbspComprar entradas
		</a>
  	</div>
  	<div class="card-footer text-muted bg-transparent footerEntradas">
  		<p class="card-text">
    		<span>Si tienes cualquier pregunta sobre nuestros horarios, puedes escribirnos al siguente correo:</span><br>
    		<span class="">vapeoficial2023@gmail.com</span>
    	</p>	
  	</div>
</div>