<h4 class="card-subtitle p-2 text-white  text-center">
	Bienvenido al Museo VAPE (Museo Vanguardista de Arte, Pintura y Escultura)
</h4>

<!--Imagenes-->
<div class="container mt-2">
	<div class="row">
		<div class="col">
			<div class="card m-auto" style="width: 18rem;">
  				<img class="card-img-top" src="/img/vanguardia1.jpg" alt="Card image cap">
  				<div class="card-body">
   					<p class="card-text">En nuestra sección de arte Vanguardista podrás encontrar una gran
						   diversidad de artistas, así cómo de diferentes épocas
					   </p>
  				</div>
			</div>
		</div>
		<div class="col">
			<div class="card m-auto" style="width: 18rem;">
  				<img class="card-img-top" src="/img/pintura1.jpg" alt="Card image cap">
  				<div class="card-body">
    				<p class="card-text">
						Ven y redescubre clásicos; los originales y las nuevas interpretaciones de nuestros jóvenes pintores
					</p>
  				</div>
			</div>
		</div>
		<div class="col">
			<div class="card m-auto" style="width: 18rem;">
  				<img class="card-img-top" src="/img/escultura1.jpg" alt="Card image cap">
  				<div class="card-body">
    				<p class="card-text">
						Contempla a los artistas creando en vivo. También podrás disfrutar de sus coleciones
					</p>
  				</div>
			</div>
		</div>
	</div>
</div>


<!--Tarifas y horarios-->
<div class="card mt-3 mb-2 text-center bg-transparent">
  	<div class="card-header text-white">
    	<h5 class="card-title  ">Visítanos</h5>
    	<h6 class="card-subtitle  ">Nuestros horarios y entradas</h6>
  	</div>
  	<div class="card-body text-white">
  		<div class="row">
  			<div class="col">
  				<h5 class="card-title">Horario de apertura</h5>
    			<p class="card-text">
    				<span>Lunes a Viernes: 10:00 h a 20:00 h</span><br>
    				<span>Sábados: 9:00 h a 15:00 h</span><br>
    				<span>Domingos cerrado</span>
    			</p>
  			</div>
  			<div class="col">
  				<h5 class="card-title">Tarifas</h5>
    			<p class="card-text">
					<th:block th:each=" tipo : ${tipos}">
						<span th:text="|${tipo.nombre} : ${tipo.precio} €|"/><br/>
					</th:block>
    			</p>
  			</div>
  		</div>
  		<a href="/comprar/r" class="btn m-2 btn-primary">
			<img src="/img/ticket-solid.svg" alt="Ticket" style="width:40px;">&nbsp&nbspComprar entradas
		</a>
  	</div>
  	<div class="card-footer text-muted bg-black">
  		<p class="card-text">
    		<span>Si tienes cualquier pregunta sobre nuestros horarios al siguente correo:</span><br>
    		<span class="">vape.info.horario@gmail.com</span>
    	</p>	
  	</div>
</div>

