<div class="container">
	
		<div class="card m-auto mt-2 w-50 ">
  			<div class="card-header text-center">
    			Inicio de sesión
  			</div>
  			
  			<div class="card-body">
    			<h5 class="card-title text-center">Introduce tus credenciales v2</h5>
    			<form action="/login" method="post">
    				<div class="row g-2 justify-content-center align-items-center">
  						<div class="col-3">
    						<label for="id-user2" class="col-form-label">Usuario</label>
  						</div>
  						<div class="col-1"></div>
  						<div class="col-4">
    						<input type="text" id="id-user2" name="loginname" class="form-control" aria-describedby="passwordHelpInline">
  						</div>
					</div>
					<br>
    				<div class="row g-2 justify-content-center align-items-center">
  						<div class="col-3">
    						<label for="id-pass2" class="col-form-label">Contraseña</label>
  						</div>
  						<div class="col-1"></div>
  						<div class="col-4">
    						<input type="password" id="id-pass2"name="password" class="form-control" aria-describedby="passwordHelpInline">
  						</div>
					</div>
					<br>
					<div class="text-center">
						<button class="btn btn-primary btn-sm" onclick="submit()">Entrar</button>
					</div>
				</form>
				
  			</div>
  			<div class="card-footer text-muted text-center">
    			<form action="/">
					<button class="btn btn-secondary btn-sm">Volver</button>
				</form>
  			</div>
		</div>
</div>