<div class="container">

	<div class="card m-auto mt-2 w-100 ">
		<div class="card-header text-center">
			Trabaja con nosotros
		</div>

		<div class="card-body m-50">

			<p class="lead text-center">
				En VAPE, creemos firmemente en el poder de la cultura y el arte para cambiar
				vidas y enriquecer comunidades. Estamos comprometidos con la preservación y difusión del patrimonio
				cultural, y con la creación de espacios inspiradores que inviten a la reflexión y al descubrimiento.</p>

			<p class="lead text-center">
				Si te apasiona el arte, la historia y la educación, te invitamos a unirte a nuestro equipo dinámico e
				innovador. Buscamos personas motivadas y entusiastas que compartan nuestra visión y estén dispuestas a
				contribuir a nuestro objetivo de brindar una experiencia enriquecedora a nuestros visitantes.</p>

			<p class="lead text-center">
				Valoramos la diversidad y la inclusión en nuestro equipo, y promovemos un ambiente de trabajo
				colaborativo y respetuoso. Además, ofrecemos oportunidades de desarrollo profesional y personal, dándote
				la oportunidad de ampliar tus habilidades y conocimientos en el sector cultural.</p>

			<p class="lead text-center">
				Si desea formar parte de nuestra familia del museo, envíenos su CV y ​​una carta de presentación
				a nuestro correo <strong>vapeoficial2023@gmail.com</strong>
				explicando por qué le gustaría unirse a nuestro equipo. ¡Esperamos conocerte y explorar juntos el
				maravilloso mundo del arte y la cultura en VAPE!</p>
			<br />

			<figure class="text-end">
				<blockquote class="blockquote">
					<p>"Tenemos arte para no morir de la verdad."</p>
				</blockquote>
				<figcaption class="blockquote-footer">
					<cite title="Título fuente">Friedrich Nietzsche</cite>
				</figcaption>
			</figure>
		</div>
		<!--		"Vivir es como avanzar por un museo: luego es cuando empiezas a entender lo que has visto" - Audrey Hepburn. 
		Tenemos arte para no morir de la verdad.

Friedrich Nietzsche (1844-1900) Filosofo alemán.

		<div class="card-footer text-muted" style="text-align: right;">
			<form action="/">
				<button class="btn btn-secondary btn-sm">Volver al home</button>
			</form>
		</div>
		-->
	</div>
</div>